<p-button (click)="showDialog()" icon="pi pi-plus" severity="secondary" rounded label="Add User" />

<p-dialog [header]="isEditMode() ? 'Edit User' : 'Add New User'" [modal]="true" [visible]="visible()" [closable]="false" styleClass="user-modal">
  <form [formGroup]="addUserForm" (ngSubmit)="onSubmit()">
    <div class="flex items-center mb-4">
      <input pInputText class="flex-auto" formControlName="email" autocomplete="off" placeholder="Email" />
    </div>
    <div class="flex items-center mb-8">
      <p-select [options]="userRoles" optionLabel="name" optionValue="code" formControlName="role"
        placeholder="Select Role" class="w-full" />
    </div>

    @if (errorMessage$ | async; as errorMsg) {
      <p-message closable severity="error" styleClass="mb-8">
        {{ errorMsg }}
      </p-message>
    }

    <div class="flex user-actions">
      <p-button label="Cancel" severity="secondary" (onClick)="hideDialog()" />
      <p-button label="Save" type="submit" />
    </div>
  </form>
</p-dialog>